.wallet-setting-input{
    padding: 10px;
    font-size: 14px;
    padding-bottom: 30px;
}
.sbhuvwa{
    display: flex;
    gap: 30px;
}
.wallet-setting-input-content{
    display: flex;
    text-align: left;
    width: 50%;
    padding: 6px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.111);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.218);
}
.wallet-setting-input-content input{
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    background: none;
}
.wallet-setting-input span{
    padding: 5px 20px;
    cursor: pointer;
}
.wallet-setting-input span:hover{
    font-weight: 900;
}

/* =================== chat settings ======================= */
.chat-setting-input{
    padding: 10px;
    min-height: 330px;
    font-size: 14px;
    padding-bottom: 30px;
}
.chat-setting-input span{
    color: rgb(122, 200, 231);
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}
.chat-setting-input .sbhuvwa{
    gap: 50px;
}
.chat-setting-input-content{
    display: flex;
    width: 70%;
    flex-direction: column;
}
.chat-setting-input-content textarea{
    min-height: 230px;
    min-width: 100%;
}


/* =========================== Game settings ================================ */
.game-setting-input{
    padding: 10px;
    margin: 10px;
}
.game-setting-input label{
    font-weight: 800;
    font-size: 14px;
    color: rgb(31, 117, 151);
}
.sellecting-container{
    display: flex;
    gap: 10px;
}
.sellecting-container .sgveussa{
    padding: 0 2px;
    font-size: 13px;
}
.sgveussa span{
    font-size: 16px;
    padding: 6px;
}
.sgveussa button{
    padding: 4px 25px;
    background: none;
    border: none;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.148);
    border-radius: 10px;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
}
.sgveussa button:hover{
    box-shadow: 4px 2px 3px 1px rgba(0, 0, 0, 0.148);
}