@tailwind base;
@tailwind components;
@tailwind utilities;

.create_user_container {
  overflow-y: auto;
  z-index: 1000;
}

@media screen and (min-width: 1200) {
  .screen_size {
    margin-left: 20%;
  }
}
